.container {
  width: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-box {
  box-sizing: border-box;
  padding-right: 110px;
}

.block-name {
  max-width: 200px;
  min-width: 120px;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  padding: 0.75rem 1.5rem;
  color: var(--slate-800);
  border: 1px solid var(--slate-300);
  font-size: 1rem;
  cursor: move;
  border-radius: 2px;
}

div.main {
  border: 2px dashed var(--slate-300);
}

div.level1 {
  border: none;
  background-color: var(--orange-400);
  color: white;
}
div.level2 {
  border: none;
  background-color: var(--cyan-400);
  color: white;
}
div.level3 {
  border: none;
  background-color: var(--slate-400);
  color: white;
}

div.main-sublevel::after {
  content: "";
  position: absolute;
  bottom: calc(-15px - 2px);
  left: 50%;
  height: 15px;
  width: 1px;
  z-index: 11;
  background-color: var(--slate-300);
}

div.sub-sublevel::after {
  content: "";
  position: absolute;
  bottom: calc(-15px - 1px);
  left: 50%;
  height: 15px;
  width: 1px;
  z-index: 11;
  background-color: var(--slate-300);
}

.block-actions {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  display: flex;
  align-items: center;
}

.block-name input {
  display: block;
  min-width: 0px;
  width: 100%;
  box-sizing: border-box;
  color: var(--slate-800);
  border: none;
  font-size: 1rem;
  text-align: center;
  text-overflow: clip;
}
.block-name input:focus {
  outline: none;
}

.children {
  display: flex;
  position: relative;
}

